*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.content-box-component {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

body {
	max-width: 100%;
	margin: 0 auto;
	line-height: 21px;
	font-size: 14px;
	color: #000000;
	background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
aside {
	display: none;
}
.desctop-header {
		background-image: url("../img/index/heade-bg.jpg");
}
.top-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0 375px 0 375px;
	min-height: 40px;
	background-color: #191919;
	color: #707070;
}
.top-menu a {
	color: inherit;
}
.social-icon {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.social-icon-item a{
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 12px;
	background-color: transparent;
}
.fb {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: 9px center;
}
.tw {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -18px center;
}
.pinterest {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -46px center;
}
.vk {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -75px center;
}
.google {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -107px center;
}
.behance {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -140px center;
}
.drebbble {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -172px center;
}
.inst {
	background-repeat: no-repeat;
	background-image: url("../img/index/social-icon-sprite(header).png");
	background-position: -200px center;
}

.header-login-lang {
	display: flex;
	margin-left: auto;
}
.sign-in {
  display: flex;
	position: relative;
	align-items: center;
	width: 82px;
	padding-left: 20px;
	padding-top: 1px;
	margin-right: 45px;
	background-repeat: no-repeat;
	background-image: url("../img/index/account_circle.png");
	background-position: 0 center;
	letter-spacing: 0.8px;
	text-transform: uppercase;
		cursor: pointer;
}
.sign-in::after {
	content: "";
	background-color: #707070;
	position: absolute;
	top: 10px;
	right: -23px;
	width: 1px;
	height: 20px;
}
.lang-item {
	display: flex;
	display: flex;
	position: relative;
	align-items: center;
	width: 82px;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-image: url("../img/index/language.png");
	background-position: 0 center;
	letter-spacing: 0.8px;
	text-transform: uppercase;
		cursor: pointer;
}

.lang-header::after{
	content: "";
	position: absolute;
	transform: rotate(-45deg);
	top: 12px;
	right: 10px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #707070;
	border-left: 2px solid #707070;
	cursor: pointer;
}
.main-menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	padding: 0 375px 0 380px;
	color: #ffffff;
	text-transform: uppercase;
	}
.main-menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-menu .nav-item {
	position: relative;
	margin-right: 30px;
	padding-right: 10px;
	letter-spacing: 0.8px;
	cursor: pointer;
}

.nav-item::after{
	content: "";
	position: absolute;
	transform: rotate(-45deg);
	top: 2px;
	right: -7px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	cursor: pointer;
}

.nav-pictograms a{
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 12px;
	background-color: transparent;
}

.search {
	background-repeat: no-repeat;
	background-image: url("../img/index/search_ico.png");
	background-position: center;
}
.wishlist {
	background-repeat: no-repeat;
	background-image: url("../img/index/heart_ico.png");
	background-position: center;
}
.cart{
	background-repeat: no-repeat;
	background-image: url("../img/index/shopping_cart.png");
	background-position: center;
}
