*,
*::before,
*::after {
     -webkit-box-sizing: inherit;
     box-sizing: inherit;
}
 html {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 .content-box-component {
     -webkit-box-sizing: content-box;
     box-sizing: content-box;
}
 body {
     max-width: 1920px;
     margin: 0 auto;
     line-height: 21px;
     font-size: 14px;
     color: #000000;
     background-color: #f5f5f5;
     font-family: 'Montserrat', sans-serif;
}

 .container {
   display: flex;
   justify-content: space-between;
   width: 1170px;
   margin: 0 auto;
   align-items: center;
}

 a {
     text-decoration: none;
}
 img {
     max-width: 100%;
     height: auto;
     vertical-align: bottom;
}
 .visually-hidden {
     position: absolute;
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px, 1px, 1px, 1px);
     padding: 0;
     border: 0;
     height: 1px;
     width: 1px;
     overflow: hidden;
}

 .desctop-header {
     background-image: url("../img/index/heade-bg.jpg");
     background-position: center;
}
 .top-menu {
     display: flex;
     min-height: 40px;
     background-color: #191919;
     color: #707070;
}
 .top-menu a {
     color: inherit;
}
 .social-icon {
     display: flex;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .social-icon-item a{
     display: block;
     width: 25px;
     height: 25px;
     margin-right: 12px;
     background-color: transparent;
}
 .fb {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: 9px center;
}
 .tw {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -18px center;
}
 .pinterest {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -46px center;
}
 .vk {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -75px center;
}
 .google {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -107px center;
}
 .behance {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -140px center;
}
 .drebbble {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -172px center;
}
 .inst {
     background-repeat: no-repeat;
     background-image: url("../img/index/social-icon-sprite(header).png");
     background-position: -200px center;
}
 .header-login-lang {
     display: flex;
}
 .sign-in {
     display: flex;
     position: relative;
     align-items: center;
     width: 82px;
     padding-left: 20px;
     padding-top: 1px;
     margin-right: 45px;
     background-repeat: no-repeat;
     background-image: url("../img/index/account_circle.png");
     background-position: 0 center;
     letter-spacing: 0.8px;
     text-transform: uppercase;
     cursor: pointer;
}
 .sign-in::after {
     content: "";
     background-color: #707070;
     position: absolute;
     top: 0;
     right: -25px;
     width: 1px;
     height: 20px;
}
 .lang-item {
     display: flex;
     position: relative;
     align-items: center;
     width: 82px;
     padding-left: 20px;
     background-repeat: no-repeat;
     background-image: url("../img/index/language.png");
     background-position: 0 center;
     letter-spacing: 0.8px;
     text-transform: uppercase;
     cursor: pointer;
}
 .lang-header::after{
     content: "";
     position: absolute;
     transform: rotate(-45deg);
     top: 3px;
     right: 10px;
     width: 10px;
     height: 10px;
     border-bottom: 2px solid #707070;
     border-left: 2px solid #707070;
     cursor: pointer;
}
 .main-menu {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: baseline;

     color: #ffffff;
     text-transform: uppercase;
}
.main-menu h1 {
  margin-right: 30px;
}
 .main-menu ul {
     display: flex;
     flex-wrap: wrap;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .main-menu .nav-item {
     position: relative;
     margin-right: 20px;
     padding-right: 25px;
     letter-spacing: 0.8px;
     cursor: pointer;
}

.nav-item h3 {
  font-size: 14px;
  line-height: 20px;
}
 .nav-item::after{
     content: "";
     position: absolute;
     transform: rotate(-45deg);
     top: 2px;
     right: 5px;
     width: 10px;
     height: 10px;
     border-bottom: 2px solid #ffffff;
     border-left: 2px solid #ffffff;
     cursor: pointer;
}
.nav-item:focus{
  outline: none;
  border-bottom: 4px solid #ff4081;
  margin-bottom: -4px;
}
 .nav-pictograms a{
     display: block;
     width: 25px;
     height: 25px;
     margin-right: 12px;
     background-color: transparent;
}
 .search {
     background-repeat: no-repeat;
     background-image: url("../img/index/search-icon.png");
     background-position: center;
}
 .wishlist {
     background-repeat: no-repeat;
     background-image: url("../img/index/heart-icon.png");
     background-position: center;
}
 .cart{
     background-repeat: no-repeat;
     background-image: url("../img/index/shopping-cart.png");
     background-position: center;
}
 .title {
     position: relative;
     padding: 140px 0 60px 0;
     color: #ffffff;
     text-align: center;
}
 .menu-arrow {
     top: 50%;
     position: absolute;
     width: 10px;
     height: 10px;
     border-bottom: 2px solid #ffffff;
     border-left: 2px solid #ffffff;
     cursor: pointer;
}
 .arrow-left {
     transform: rotate(45deg);
     left: 50px;
}
 .arrow-right {
     transform: rotate(225deg);
     right: 50px;
}
 .caption {
     text-transform: uppercase;
     letter-spacing: 0.8px;
     margin-bottom: 40px;
}
 .caption h2 {
     opacity: 0.5;
     font-weight: normal;
     font-size: 28px;
     line-height: 27px;
}
 .caption p {
     font-size: 42px;
     font-weight: bold;
     line-height: 40px;
     padding-left: 120px;
     padding-right: 120px;
}
 .button {
     display: inline-block;
     vertical-align: middle;
     min-height: 45px;
     padding: 14px 28px 0 28px;
     color: #ffffff;
     background-color: #303f9f;
     box-shadow: 0 1px 6px #303f9f;
     border-radius: 25px 25px;
     text-transform: uppercase;
}
 .comments {
     background-repeat: no-repeat;
     background-image: url("../img/index/comment-icon.png");
     background-position: left;
}
 .likes {
     background-repeat: no-repeat;
     background-image: url("../img/index/heart-icon.png");
     background-position: left;
}
 .likes,
 .comments,
 .time {
     margin-right: 20px;
     padding-left: 25px;
     opacity: 0.5;
}
 .sort {
     display: flex;
     min-height: 60px;
     background-color: #ffffff;
     border-bottom: 2px solid #dddddd;
     margin-bottom: 30px;
     text-transform: uppercase;
}
 .sort-list {
     display: flex;
     list-style: none;
     margin: 0;
     margin-right: 300px;
     padding: 0;
}
 .sort-button {
     background-color: #f5f5f5;
     color: #000000;
     box-shadow: 0 0 0;
     padding-top: 10px;
}
 .current {
     background-color: #ffffff;
     border: 1px solid #3f51b5;
     color: #3f51b5;
}
 .sort h2,
 .sort li {
     font-size: 16px;
     line-height: 27px;
}

.articles {
margin-right:40px;
}

.slidebar {
position: sticky;
top: 0;
display: flex;
flex-direction: column;
align-self: flex-start;

padding: 20px;
background-color: white;
}
